transformers==4.51.3
setuptools==59.5
scipy>=1.11.0
opencv-python==4.10.0.84
termcolor
pyyaml
numpy==1.26.4
tqdm
cprint
open3d==0.18.0
mediapy==1.1.2
lpips==0.1.4
scikit-image==0.21.0
tqdm==4.66.2
trimesh==4.3.2
plyfile
typing_extensions==4.9.0
prettytable
torchmetrics
einops